<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classement - Union Sporting Club de Labattoir</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <!-- Inclusion de la navbar -->
  <%- include('partials/navbar') %>

  <!-- Contenu principal -->
  <div class="main-content">
    <h1>Classement des équipes</h1>
    <table class="classement-table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Nom de l'équipe</th>
          <th>Matchs joués</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Union Sporting Club de Labattoir</td>
          <td>10</td>
          <td>25</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Équipe A</td>
          <td>10</td>
          <td>22</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Équipe B</td>
          <td>10</td>
          <td>20</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Équipe C</td>
          <td>10</td>
          <td>18</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Inclusion du footer -->
  <%- include('partials/footer') %>

  <script src="/scripts/main.js"></script>
</body>
</html>

<!-- Tableau Championnat-->
<table>
    <body>
        <title>
            CLASSEMENT CHAMPIONNAT R3
        </title>
     <caption>
        CHAMPIONNAT REGIONAL 3/FFF MAYOTTE
     </caption>
        <link href="style.css" rel="stylesheet">
    <tr>
        <th scope="col">Equipes</th>
        <th scope="col">Points</th>
        <th scope="col">Joueurs</th>
    </tr>
    <tr>
        <th scope="row">USCL</th>
        <td>34</td>
        <td>16</td>
    </tr>
    <tr>
        <th scope="row">Etincelles Hamjago</th>
        <td>29</td>
        <td>16</td>
    </tr>
    <tr>
        <th scope="row">FCY KOUNGOU</th>
        <td>28</td>
        <td>16</td>
    </tr>
    <tr>
        <th scope="row">USCJ KOUNGOU</th>
        <td>26</td>
        <td>16</td>
    </tr>
    <tr>
        <th scope="row">FCO</th>
        <td>26</td>
        <td>16</td>
    </tr>
</body>
</table>