<nav class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="Logo du club">
      <span>Union Sporting de Labattoir</span>
    </div>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/equipes">Équipes</a></li>
      <li><a href="/classements">Classements</a></li>
      <li><a href="/contact">Contactez-nous</a></li>
      <li><a href="/divers">Divers</a></li>
    </ul>
    <div class="icon">
      <a href="#" id="openModal">🔑 Connexion</a>
    </div>
  </nav>
  